<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="./assets/css/custom.css">
</head>

<body class="title-page"></body>
  <nav class="navbar">
    <div class="logo">
      <a href="./">Lewis Wray</a>
    </div>
    <ul class="nav-links">
      <li><a href="./">Home</a></li>
      <!-- <li><a href="/projects">Projects</a></li> -->
      <div class="dropdown">
        <a class="dropbtn">Projects 
          <i class="down-arrow">▼</i>
        </a>
        <div class="dropdown-content">
          <a href="./projects_game">Unity Games</a>
          <a href="./projects_web">Websites</a>
          <a href="./projects_design">Design Projects</a>
        </div>
      </div> 
      <!-- <li><a href="./">Blog</a></li> -->
      <li><a href="./education">Education</a></li>
      <li><a href="./work_experience">Work Experience</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  {{ content }}
  
  <footer>
    <p>© {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>

  <script src="./assets/js/script.js"></script>
</body>
</html>
