---
layout: base
---
<header class="inner">
  <h1 class="heading">{{ page.title | default: site.title }}</h1>
  <h3 class="subheading">{{ page.subtitle }}</h3>
</header>

<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    <h4>GCSEs - 2019</h4>
    <div class="grid-container">
      <div class="grid-cell">Biology</div>
      <div class="grid-cell">9</div>
      <div class="grid-cell">Chemistry</div>
      <div class="grid-cell">9</div>
      <div class="grid-cell">Physics</div>
      <div class="grid-cell">9</div>
      <div class="grid-cell">Mathematics</div>
      <div class="grid-cell">9</div>
      <div class="grid-cell">Computer Science</div>
      <div class="grid-cell">9</div>
      <div class="grid-cell">French</div>
      <div class="grid-cell">9</div>
      <div class="grid-cell">Graphic Design</div>
      <div class="grid-cell">8</div>
      <div class="grid-cell">English Language</div>
      <div class="grid-cell">7</div>
      <div class="grid-cell">English Literature</div>
      <div class="grid-cell">6</div>
    </div>
    <br>
    <h4>A-Levels - 2021</h4>
    <div class="grid-container">
      <div class="grid-cell">Computer Science</div>
      <div class="grid-cell">A*</div>
      <div class="grid-cell">Mathematics</div>
      <div class="grid-cell">A</div>
      <div class="grid-cell">Graphic Design</div>
      <div class="grid-cell">A</div>
    </div>
    <br>
    <h4>Undergraduate - 2024</h4>
    <div class="grid-container">
      <div class="grid-cell">Leeds University BSc Computer Science</div>
      <div class="grid-cell">2:1</div>
    </div>
    <br>
    <h4>Postgraduate</h4>
    <div class="grid-container">
      <div class="grid-cell">UCLan MA Games Design</div>
      <div class="grid-cell">In progress</div>
    </div>
  </section>
</div>