---
layout: base
---

<body class="title-page">
  <header class="inner">
    <h1 style="color: white;">{{ page.title | default: site.title }}</h1>
    <h5 style="color: white;" class="subtitle">{{ page.subtitle }}</h5>
  </header>

  <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner post-text">
      {{ content }}
      <!-- <video width="100%" controls>
        <source src="./../assets/vid/ninja-blob" type="video/mp4">
        Your browser does not support the video tag.
      </video> -->
    </section>
  </div>
</body>
</html>
