---
layout: projects
---

<div id="unity_projects" class="tab-content">
  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/ninja_blob.jpg" alt="Ninja Blob Screenshot" class="game-screenshot">
    </figure>
    <!-- Game Title -->
    <h1 class="game-title">Ninja Blob</h1>


    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2018</span>
      <span><strong>Project Type:</strong> Personal</span>
      <span><strong>Genre:</strong> Platformer</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      A sidescrolling platformer made using a YouTube Tutorial. My first introduction to the Unity game engine and game development.
    </p>

    <a href="./ninja-blob"><button class="btn">View Project</button></a>
  </section>
  <!-- <hr class="dividing-line"> -->
  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/snowball_fight.jpg" alt="Snowball Fight Screenshot" class="game-screenshot">
    </figure>
    
    <!-- Game Title -->
    <h1 class="game-title">Snowball Fight</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2019</span>
      <span><strong>Project Type:</strong> Personal</span>
      <span><strong>Genre:</strong> Platform Fighter</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      The second game I made built upon the skills I learned from the first, using a more intermediate Unity course. I created my own sprites to personalise the game.
    </p>
    
    <a href="./snowball-fight"><button class="btn">View Project</button></a>
  </section>
  <!-- <hr class="dividing-line"> -->
  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/quantum_crate.jpg" alt="Quantum Crate Screenshot" class="game-screenshot">
    </figure>
    
    <!-- Game Title -->
    <h1 class="game-title">Quantum Crate</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2020</span>
      <span><strong>Project Type:</strong> Academic</span>
      <span><strong>Genre:</strong> Platform Roguelite</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      This game was made as my A-Level Computer Science project. I made a game similar to ones I had made before but was able to dedicate more time to it so added more features.
    </p>
    
    <a href="./quantum-crate"><button class="btn">View Project</button></a>
  </section>
  <!-- <hr class="dividing-line"> -->
  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/shadow_thief.jpg" alt="Shadow Thief Screenshot" class="game-screenshot">
    </figure>

    <!-- Game Title -->
    <h1 class="game-title">Shadow Thief</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2021</span>
      <span><strong>Project Type:</strong> Personal</span>
      <span><strong>Genre:</strong> Stealth</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      My submission for a game jam organised with a group of friends after we had finished our A-Levels. I made the entire game in one weekend.
    </p>
    
    <a href="./shadow-thief"><button class="btn">View Project</button></a>
  </section>
  <!-- <hr class="dividing-line"> -->
  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/the_wall.jpg" alt="The Wall Screenshot" class="game-screenshot">
    </figure>

    <!-- Game Title -->
    <h1 class="game-title">The Wall</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2021</span>
      <span><strong>Project Type:</strong> Personal</span>
      <span><strong>Genre:</strong> Trivia</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      I made this game in University to test myself and the extent of what I remembered of Unity, but with the added difficulty of 3D physics.
    </p>
    
    <a href="./the-wall"><button class="btn">View Project</button></a>
  </section>
  <!-- <hr class="dividing-line"> -->
</div>