---
layout: projects
---

<div id="design_projects" class="tab-content active">
  <div>
    <h2>"Our Planet" Project</h2>
    <p>This is the content for section 1.</p>
  </div>
  <hr class="dividing-line">
  <div>
    <h2>VE Day Flag</h2>
    <p>This is the content for section 1.</p>
  </div>
  <hr class="dividing-line">
  <div>
    <h2>Blender Donut</h2>
    <p>This is the content for section 1.</p>
  </div>
  <hr class="dividing-line">
  <div>
    <h2>2D Computer Graphics</h2>
    <p>This is the content for section 1.</p>
  </div>
  <hr class="dividing-line">
  <div>
    <h2>3D Computer Graphics</h2>
    <p>This is the content for section 1.</p>
  </div>
</div>