---
layout: projects
---

<div id="website_projects" class="tab-content active">
  <div>
    <h2>EdVee</h2>
    <p>This is the content for section 1.</p>
  </div>
  <hr class="dividing-line">
  <div>
    <h2>Songdle</h2>
    <p>This is the content for section 1.</p>
  </div>
  <hr class="dividing-line">
  <div>
    <h2>Loops Direct</h2>
    <p>This is the content for section 1.</p>
  </div>
  <hr class="dividing-line">
  <div>
    <h2>The Game Over View</h2>
    <p>This is the content for section 1.</p>
  </div>
</div>