---
layout: projects
---

<div id="unity_projects" class="tab-content">
  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/betrayal_dungeon.jpg" alt="Betrayal Dungeon Screenshot" class="game-screenshot">
    </figure>
    <!-- Game Title -->
    <h1 class="game-title">Betrayal Dungeon</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2024</span>
      <span><strong>Project Type:</strong> Academic</span>
      <span><strong>Genre:</strong> Puzzle</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      The first project of my MA Games Design course: a top-down puzzle game.
    </p>

    <a href="./betrayal-dungeon"><button class="btn">View Project</button></a>
  </section>
  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/energy_fist.jpg" alt="Energy Fist Screenshot" class="game-screenshot">
    </figure>
    <!-- Game Title -->
    <h1 class="game-title">Energy Fist</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2025</span>
      <span><strong>Project Type:</strong> Academic</span>
      <span><strong>Genre:</strong> First-Person Adventure</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      A project that pushed the limits of my newly acquired Unreal skills. 
    </p>

    <a href="./energy-fist"><button class="btn">View Project</button></a>
  </section>
  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/ballbot_arena.jpg" alt="Ballbot Arena Screenshot" class="game-screenshot">
    </figure>
    <!-- Game Title -->
    <h1 class="game-title">Ballbot Arena</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2025</span>
      <span><strong>Project Type:</strong> Academic</span>
      <span><strong>Genre:</strong> Multiplayer Artilley</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      A project that showcases of wide variety of technical design skills
    </p>

    <a href="./ballbot-arena"><button class="btn">View Project</button></a>
  </section>
</div>