---
layout: projects
---

<div id="unity_projects" class="tab-content">
  <p class="title-text">
    I began my games design course by learning how to use Unreal Engine 5. Although I have experience programming in C++, I create games for my course using the
    Unreal blueprints system as it allows me to focus on the design of the game, which is the focus of my degree, rather than code quality. More details on 
    each game and my games design degree can be found on my academic <a href="https://lewiswraygamesdesign.blogspot.com">blog</a>.
  </p>
  
  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/tower_ascent.jpg" alt="Tower Ascent Screenshot" class="game-screenshot">
    </figure>
    <!-- Game Title -->
    <h1 class="game-title">Tower Ascent</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2025</span>
      <span><strong>Project Type:</strong> Academic</span>
      <span><strong>Genre:</strong> Combat Platformer</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      A game to test and demonstrate my Unreal Engine 5 knowledge
    </p>

    <a href="./tower-ascent"><button class="btn">View Project</button></a>
  </section>

  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/ballbot_arena.jpg" alt="Ballbot Arena Screenshot" class="game-screenshot">
    </figure>
    <!-- Game Title -->
    <h1 class="game-title">Ballbot Arena</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2025</span>
      <span><strong>Project Type:</strong> Academic</span>
      <span><strong>Genre:</strong> Multiplayer Artilley</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      A project that showcases a wide variety of technical design skills
    </p>

    <a href="./ballbot-arena"><button class="btn">View Project</button></a>
  </section>

  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/energy_fist.jpg" alt="Energy Fist Screenshot" class="game-screenshot">
    </figure>
    <!-- Game Title -->
    <h1 class="game-title">Energy Fist</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2025</span>
      <span><strong>Project Type:</strong> Academic</span>
      <span><strong>Genre:</strong> First-Person Adventure</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      A project that pushed the limits of my newly acquired Unreal skills. 
    </p>

    <a href="./energy-fist"><button class="btn">View Project</button></a>
  </section>
  
  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/betrayal_dungeon.jpg" alt="Betrayal Dungeon Screenshot" class="game-screenshot">
    </figure>
    <!-- Game Title -->
    <h1 class="game-title">Betrayal Dungeon</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2024</span>
      <span><strong>Project Type:</strong> Academic</span>
      <span><strong>Genre:</strong> Puzzle</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      The first project of my MA Games Design course: a top-down puzzle game.
    </p>

    <a href="./betrayal-dungeon"><button class="btn">View Project</button></a>
  </section>
</div>