---
layout: projects
---

<div id="website_projects" class="tab-content">
  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/game_over_view.jpg" alt="The Game Overview Screenshot" class="game-screenshot">
    </figure>

    <!-- Game Title -->
    <h1 class="game-title">The Game Overview</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2021</span>
      <span><strong>Project Type:</strong> Academic</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      A 1st year University Assignment was to create a website using HTML, CSS, and JavaScript. I made a site of video game reviews.
    </p>
    
    <button class="btn">View Project</button>
  </section>

  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/songdle.jpg" alt="Songdle Screenshot" class="game-screenshot">
    </figure>

    <!-- Game Title -->
    <h1 class="game-title">Songdle</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2022</span>
      <span><strong>Project Type:</strong> Personal</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      Using the web development skills I learned in my first year of university, I created my own website. It is a song lyric adaptation of the popular game Wordle.
    </p>
    
    <button class="btn">View Project</button>
  </section>

  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/edvee.jpg" alt="EdVee Screenshot" class="game-screenshot">
    </figure>

    <!-- Game Title -->
    <h1 class="game-title">EdVee</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2023</span>
      <span><strong>Project Type:</strong> Professional</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      After my 2nd year at university I completed an internship in which I used my website skills to create a course design tools.
    </p>
    
    <button class="btn">View Project</button>
  </section>

  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/loopsdirect.jpg" alt="Loops Direct Screenshot" class="game-screenshot">
    </figure>

    <!-- Game Title -->
    <h1 class="game-title">Loops Direct</h1>

    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2024</span>
      <span><strong>Project Type:</strong> Professional</span>
    </div>

    <!-- Game Description -->
    <p class="game-description">
      I worked for the company Loops Direct before starting my Masters degree. I helped initially with data entry and then with optimising their website.
    </p>
    
    <button class="btn">View Project</button>
  </section>
</div>