---
layout: projects
---

<div id="design_projects" class="tab-content">
  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/ve_day.jpg" alt="VE Day Flag Screenshot" class="game-screenshot">
    </figure>
  
    <!-- Game Title -->
    <h1 class="game-title">VE Day Flag</h1>
  
    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2020</span>
      <span><strong>Project Type:</strong> Academic</span>
    </div>
  
    <!-- Game Description -->
    <p class="game-description">
      When lockdown began in 2020, my graphic design course was adapted to a series of digital projects. For VE Day, we were tasked with creating a flag design.
    </p>
    
    <button class="btn">View Project</button>
  </section>

  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/donut.jpg" alt="Blender Donut Screenshot" class="game-screenshot">
    </figure>
  
    <!-- Game Title -->
    <h1 class="game-title">Blender Donut</h1>
  
    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2020</span>
      <span><strong>Project Type:</strong> Personal</span>
    </div>
  
    <!-- Game Description -->
    <p class="game-description">
      In lockdown 2020, I decided to learn Blender using a series of tutorials, which guided me through the process of creating a 3D donut.
    </p>
    
    <button class="btn">View Project</button>
  </section>

  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/earth_roast.jpg" alt="Our Planet Screenshot" class="game-screenshot">
    </figure>
  
    <!-- Game Title -->
    <h1 class="game-title">Our Planet</h1>
  
    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2021</span>
      <span><strong>Project Type:</strong> Academic</span>
    </div>
  
    <!-- Game Description -->
    <p class="game-description">
      This is my final project for my Graphic Design A-Level, titled "Our Planet". I created a series of designs to raise awareness of climate change.
    </p>
    
    <button class="btn">View Project</button>
  </section>

  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/2d_graphics.jpg" alt="2D Graphics Screenshot" class="game-screenshot">
    </figure>
  
    <!-- Game Title -->
    <h1 class="game-title">2D Graphics</h1>
  
    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2023</span>
      <span><strong>Project Type:</strong> Academic</span>
    </div>
  
    <!-- Game Description -->
    <p class="game-description">
      In a Computer Graphics module in my 3rd year of university, I was tasked with rendering 2d graphics from scratch using C++.
    </p>
    
    <button class="btn">View Project</button>
  </section>

  <section class="game-container">
    <!-- Game Screenshot -->
    <figure>
      <img src="./assets/img/3d_graphics.jpg" alt="3D Graphics Screenshot" class="game-screenshot">
    </figure>
  
    <!-- Game Title -->
    <h1 class="game-title">3D Graphics</h1>
  
    <!-- Meta Information (Year and Genre) -->
    <div class="game-meta">
      <span><strong>Year:</strong> 2024</span>
      <span><strong>Project Type:</strong> Academic</span>
    </div>
  
    <!-- Game Description -->
    <p class="game-description">
      A group assignment for the Computer Graphics module at university. Create a 3D landscape using C++ and OpenGL.
    </p>
    
    <button class="btn">View Project</button>
  </section>
</div>