---
layout: base
---
<header class="inner">
  <h1 class="heading">{{ page.title | default: site.title }}</h1>
  <h3 class="subheading">{{ page.subtitle }}</h3>
</header>


<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    <div class="tab-container">
      {% if page.title == "Unity Games" %}
        <div class="tab active">Unity Games</div>
        <a href="./projects_web" class="tab">Websites</a>
        <a href="./projects_design" class="tab">Design Projects</a>
      {% elsif page.title == "Websites" %}
        <a href="./projects_game" class="tab">Unity Games</a>
        <div class="tab active">Websites</div>
        <a href="./projects_design" class="tab">Design Projects</a>
      {% elsif page.title == "Design Projects" %}
        <a href="./projects_game" class="tab">Unity Games</a>
        <a href="./projects_web" class="tab">Websites</a>
        <div class="tab active">Design Projects</div>
      {% endif %}
    </div>

    {{ content }}

</div>