---
layout: base
---

<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    <section class="game-container">
      <h1 class="game-title">Web Development Internship</h1>
      <h3>The University of Leeds</h3>
      <h4>July - September 2023</h4>
      <p class="game-description">
        During the second year of my undergraduate degree, I began looking for a placement year to complete before my third year. After some searching, 
        decided that a summer internship might be better suited to me, as I could gain some work experience in the time I would have free in the summer, but also 
        continue my studies without taking a break. I found this job opportunity through the university's careers service, which was posted by a member of staff
        who had created a tool for course design, but needed a website that guided people through the process he had invented. I was able to use the web development
        skills I had learned in my course so far, along with some knowledge from personal projects, to create a website. I worked alongside a product design student,
        who took the role as designer and provided a layout for the website to adopt. I was able to work from home for the duration, occasionally going into the 
        university to meet with colleagues and to present my work to other members of staff who could benefit from the tool. After the internship had finished, the
        staff member that hired me secured additional funding to continue the project, and I was offered a part-time job that I could continue alongside my upcoming 
        studies. I still work on the project when I am needed, as maintenance and improvement are important aspects in web development.
      </p>

      <p class="game-description">
        Over the course of the internship, I strengthened many skills, including programming in HTML, JavaScript, CSS, and Python. I also became more confident 
        speaking in front of others and presenting my work to potential clients. 
      </p>
    </section>
    
    <section class="game-container">
      <h1 class="game-title">Data Entry Assistant</h1>
      <h3>Loopsdirect</h3>
      <h4>August 2024 - Present</h4>
      <p class="game-description">
        After graduating from The University of Leeds with a 2:1 in computer science, I began looking for a job for the summer that would allow me to gain 
        some experience in a professional environment while continuing to develop my skills. I found this the job opportunity for a data entry assistant at
        Loopsdirect on indeed. After an interview, they offered me the job and I began working the in August 2024. The company is a manufacturer and supplier
        of tools and electronics, among many other things. They sell many products but struggled with marketing their brand to new customers. Their main issue
        was that their website was not as well organised as it could be, leading to problems with search engines displaying their products. My first task was 
        to rearrange the sections of products so each product was in the most fitting category, adding tags so they can sorted and filtered easily. This job 
        took a long time as there were tens of thousands of products that had not yet been sorted into any category. After that, I looked into search
        engine optimisation (SEO), which is the process of setting up web pages in a way that allows search engines to find and index them more easily, 
        improvingthe site's overall visibility on the internet. I also worked on the method in which Loopsdirect sold their products on other popular websites,
        adding tags to the products according to their categories so they can be found more easily. I am still employed at Loopsdirect, and I go into the
        office to complete few jobs whenever I have time. 
      </p>
      <p class="game-description">
        I utilised and improved many different skills while working for Loopsdirect. I used my knowledge of programming and artificial intelligence to
        streamline the process of amending the data of tens of thousand of products. I found that what I learned about search engines and websites at
        university helped in general with my work. Learning HTML and CSS at university was also useful, as, although the website inherited its 
        display from an existing template, I was able to alter small sections of display code improve the aesthetics of the site. I also used Photoshop
        to design an advert for the company and to create images of products for display on the website. 
      </p>
    </section>
  </section>
</div>
